/****** GLOBAL STYLES ******/

body {
    background-color: #DAF7F6;
    color: #3B3B3B;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
}

header {
    background-color: #FFFFFF;
    text-align: center;
}

header h1 {
    display: inline-block;
    margin: 0 auto;
    padding: 50px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #F16059;
    text-transform: uppercase;
    padding-left: 15px;
}

main {
    width: 1000px;
    margin: 0 auto;
}

.card {
    margin: 20px 0;
    overflow: auto;
}

.image {
    float: left;
    width: 450px;
    height: 550px;
}

.recipe {
    float: left;
    padding-left: 20px;
    width: 500px;
    height: 550px;
    background-color: #FFFFFF;
}

#cookies .image {
    background-image: url(../img/gluten-free-sugar-cookies.jpg);
    background-size: cover;
}

#pesto .image {
    background-image: url(../img/nut-free-pesto.jpg);
    background-size: cover;
}

#salad .image {
    background-image: url(../img/watermelon-salad.jpg);
    background-size: cover;
}

.recipe h2 {
    color: #F16059;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 29px;
    margin: 0 auto; 
    padding: 20px 0;
}

.time { 
    margin-bottom: 5px;
    border: 2px solid #3B3B3B;
    overflow: auto;
    text-transform: uppercase;
    margin-right: 20px;
}

.time .prep {
    float: left;
    padding-left: 6px;
    width: 33.3333%;
    box-sizing: border-box;
}

.time .cook {
    float: left;
    padding-left: 6px;
    width: 33.3333%;
    box-sizing: border-box;
    border-left: 2px solid #3B3B3B;
    border-right: 2px solid #3B3B3B;
}

.time .total {
    float: left;
    padding-left: 6px;
    width: 33.3333%;
    box-sizing: border-box;
}

.time img {
    width: 15px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle; 
}

.time-details {
    display: inline-block;
}

.time strong {
    font-family: 'Montserrat', sans-serif;
}

.columns {
    overflow: auto;
}

.directions {
    float: left;
    width: 240px;
}

.ingredients {
    float: left;
    width: 205px;
    margin-right: 20px;
}

.recipe h3 {
    padding: 10px;
    border-top: 2px solid #3B3B3B;
    border-bottom: 2px solid #3B3B3B;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #F16059;
    text-transform: uppercase;
}

.ingredients ul {
    padding-left: 20px;
    line-height: 24px;
    list-style-type: square;
}

.directions ol {
    padding-left: 20px;
    line-height: 20px;
}