/****** GLOBAL STYLES ******/

body {
    background-color: #DAF7F6;
    color: #3B3B3B;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
}

header {
    background-color: #FFFFFF;
    text-align: center;
}

header h1 {
    display: inline-block;
    margin: 0 auto;
    padding: 50px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #F16059;
    text-transform: uppercase;
    padding-left: 15px;
}

main {
    width: 1000px;
    margin: 0 auto;
}

.card {
    margin: 20px 0;
    overflow: auto;
}

.image {
    float: left;
    width: 450px;
    height: 500px;
}

.recipe {
    float: left;
    padding-left: 20px;
    width: 450px;
    height: 550px;
    background-color: #FFFFFF;
}